In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
sub_name = os.listdir('../submissions/')

In [10]:
sub_name

['0.26363_0.2697_simple.csv',
 'sub_0.26972.csv',
 'sub_0.26989.csv',
 'sub_0.27382.csv',
 'sub_cat_0.27277.csv',
 'sub_xgb0.27328.csv']

In [4]:
sub_name = ['0.26363_0.2697_simple.csv',
             'sub_0.26972.csv',
             'sub_0.26989.csv',
            'sub_0.27382.csv',
            'sub_cat_0.27277.csv',
            'sub_xgb0.27328.csv']

In [5]:
subs = []

for csv in sub_name:
    subs.append(pd.read_csv('../submissions/'+csv))

In [6]:
pred = []
for sub in subs:
    pred.append(sub['y'].values)

In [7]:
sub['y'] = np.array(pred).mean(axis=0)

In [8]:
sub

          id           y
0          1   28.929837
1          2   16.111489
2          3  228.167210
3          4   23.390066
4          5   69.548764
...      ...         ...
34839  34840    7.101020
34840  34841    2.105491
34841  34842    3.005867
34842  34843    9.530173
34843  34844    7.135548

[34844 rows x 2 columns]

In [9]:
sub.to_csv('../submissions/best_sub.csv',index=False)