アイデア
- stacking
- catboost
- xgboost
- simple DNN

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
subs = []
for csv in os.listdir('../submission_team/submission_best5/')[:1]:
    subs.append(pd.read_csv('../submission_team/submission_best5/'+csv))

for csv in os.listdir('../submissions/')[:3]:
    subs.append(pd.read_csv('../submissions/'+csv))

In [3]:
os.listdir('../submission_team/submission_best5/')[:2]

['026269_030_submission.csv', '026282_031_submission.csv']

In [4]:
os.listdir('../submissions/')[:3]

['0.26204_ensemble.csv', '0.26221_emsemble.csv', '0.26251_0.26999_simple.csv']

In [17]:
pred = []
for sub in subs:
    pred.append(sub['y'].values)

In [18]:
sub['y'] = np.array(pred).mean(axis=0)

In [19]:
sub

          id           y
0          1   28.728027
1          2   16.347046
2          3  229.774528
3          4   22.794161
4          5   72.687337
...      ...         ...
34839  34840    7.608476
34840  34841    2.174088
34841  34842    2.899644
34842  34843   12.176995
34843  34844    8.179078

[34844 rows x 2 columns]

In [20]:
sub.to_csv('../submission_team/team_sub_'+'orejin1+aren3'+'.csv',index=False)

In [7]:
scores = np.array(list(map(float,scores)))

NameError: name 'scores' is not defined

In [ ]:
inv_scores = 1/scores
weight = inv_scores/inv_scores.sum()

In [ ]:
y = 0
for i in range(len(subs)):
    y += (subs[i]['y']*weight[i])