In [1]:
import pandas as pd
import os
import numpy as np

In [7]:
orejin_sub = ['0.26089_039_submission.csv']
my_sub = ['best_sub.csv']

In [8]:
subs = []
for csv in orejin_sub:
    subs.append(pd.read_csv('../submission_team/orejin_sub/'+csv))

for csv in my_sub:
    subs.append(pd.read_csv('../submissions/'+csv))

In [9]:
pred = []
for sub in subs:
    pred.append(sub['y'].values)

In [10]:
sub['y'] = np.array(pred).mean(axis=0)

In [11]:
sub

          id           y
0          1   29.374910
1          2   15.469900
2          3  240.966465
3          4   23.385614
4          5   71.455557
...      ...         ...
34839  34840    6.832805
34840  34841    2.478895
34841  34842    3.253168
34842  34843   10.835507
34843  34844    6.719660

[34844 rows x 2 columns]

In [12]:
sub.to_csv('../submission_team/team_sub.csv',index=False)